.modal-content{
   all: unset!important;	
   * {
    all: unset!important;
   }
   background-color : #f5f5f5!important;
   overflow: auto!important;
}
.modal {
    /*display: none!important; /* Hidden by default */
    position: fixed!important; /* Stay in place */
    float: left!important;
    z-index: 1!important; /* Sit on top */
    left: 0!important;
    top: 0!important;
    width: 100%!important; /* Full width */
    height: 100%!important; /* Full height */
    overflow: auto!important; /* Enable scroll if needed */
    background-color: rgb(0,0,0)!important; /* Fallback color */
    background-color: rgba(0,0,0,0.4)!important; /* Black w/ opacity */
}
div.DashboardBar{
  all: initial!important;
  * {
    all: unset!important;
  }
}




/*div.lvl1 img{ display: block;float: left;margin-right: 5px;}
div.lvl2 img{ display: block;float: left;margin-right: 5px;}
div.lvl3 img{ display: block;float: left;margin-right: 5px;}
*/
tr { overflow:auto; }  
table { display:block;}
tbody{ display:block;}
.arrange-horizontally > * {
    display: inline-block;
    text-align: center;
}
element.style {
    word-wrap: break-word;
    width: 100%;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.button {
    background-color: #ff0000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-style: solid;
    border-color: #ffffff;
}

.tt-dropdown-menu {
     display: none !important;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.Select div div{ float:left; background:white; }

.badgeImage:hover{ cursor:pointer;}